* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 5%;
}

.logo1 {
  height: 70px;
  width: 70px;
  transition: 0.5s;
}

.logo1:hover {
  transform: rotate(360deg) scale(1.5);
}

.navlist {
  display: flex;
}

.navlist a {
  color: #3e1908;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 5px;
  margin: 0 22px;
  transition: all 0.4s ease;
}

.navlist a:hover {
  color: #ca7c62;
  border-bottom: 2px solid #ca7c62;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background: #ca7c62;
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 1s ease;
}
.icons i:hover {
  border: 1px solid #3e1908;
  color: #3e1908;
  background: transparent;
}

#menu-icon {
  color: #3e1908;
  font-size: 26px;
  cursor: pointer;
  display: none;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("background.jpeg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
section {
  padding: 0 12%;
}

.main-text h1 {
  margin: 30px 0;
  font-size: 5.5rem;
  font-weight: 800;
  color: #3e1908;
  letter-spacing: 2px;
  line-height: 1.1;
  text-transform: uppercase;
}
.main-text h5 {
  font-size: 1.3rem;
  color: #ca7c62;
  font-weight: 600;
  letter-spacing: 5px;
}

.main-text p {
  font-size: 1.1rem;
  color: #9f9c9d;
  line-height: 30px;
  margin-bottom: 3rem;
}

.btn {
  padding: 15px 35px;
  color: #fff;
  background: #ca7c62;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.btn2 {
  background: transparent;
  border: 2px solid #ca7c62;
  color: #3e1908;
  margin-left: 20px;
  transition: all 0.4s ease;
}
.btn:hover {
  background: transparent;
  border: 2px solid #ca7c62;
  color: #3e1908;
}

.btn2:hover {
  background: #ca7c62;
  color: #fff;
}

.left {
  position: fixed;
  top: 40%;
  padding: 0 5%;
  /* transform: translateY(-50%); */
}
.left i {
  display: flex;
  margin: 28px 0;
  font-size: 25px;
  color: #3e1908;
  transition: all 0.4s ease;
}

.left i:hover {
  transform: scale(1.1) translateX(-5px);
}

.right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.sign-up {
  display: flex;
  justify-content: center;
}
.right a {
  color: #ca7c62;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.right i {
  font-size: 25px;
  margin-left: 5px;
}

@media screen and (max-width: 1470px) {
  header {
    padding: 15px 2%;
  }
  section {
    padding: 0 2%;
  }
  .left {
    display: none;
  }
  .right {
    right: 2%;
  }
}

@media screen and (max-width: 1000px) {
  .main-text h1 {
    font-size: 3.9rem;
    transition: 0.2s;
  }
  main-text h5 {
    font-size: 1.125rem;
  }
  .main-text p {
    font-size: 1rem;
  }
  .btn {
    padding: 0.6875rem 1.8125rem;
    transform: 0.2s;
  }
}
@media screen and (max-width: 975px) {
  #menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #3e1908;
    color: #fff;
    font-size: 1.5625rem;
    border-radius: 10px;
  }
  /*  */
  .mouse-move {
    border-radius: 100%;
    background: #7f8487;
    position: absolute;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border: 3px solid #fbf6ef;
  }
  .navlist {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #fbf6ef;
    text-align: left;
    transition: all 1s ease;
  }
  .navlist a {
    font-size: 15px;
    display: block;
    padding: 0.5rem;
    margin: 1.1rem;
    border-bottom: none;
    border-left: 2px solid #3e1908;
  }
  .navlist a:hover {
    border-bottom: none;
    background-color: #3e1908;
    color: #fff;
  }
}
/* header section top 100% */
.navlist.open {
  top: 100%;
}
